.MuiTouchRipple-root-14{
    display: hidden;
}
button:focus {
    outline:none;
}

ProductItemPage {
    font-family: 'Playfair Display'
}

#searchbar::placeholder {
    color: lightgrey;
}

#searchbar, #searchbar:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}