.pagination {
    border: none;
}

.page-link {
    border: none;
    color: black;
}

.page-link:hover {
    color: black;
    background: white;
    outline: none;
}

.page-item {
    border: none;
}

.page-item.active .page-link{
    background: white;
    color: black;
    border-radius: 7px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.page-link:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#paginationPrev, #paginationNext {
    background: lightgrey;
}